self.change_status_nobtn()
self.thikness_g(0,100)
time.sleep(0.05)
self.thikness_g(0,150)
time.sleep(0.05)
self.thikness_g(0,200)
time.sleep(0.05)
self.thikness_g(0,250)
time.sleep(0.05)
self.thikness_g(0,300)
time.sleep(0.05)
self.thikness_g(0,400)
time.sleep(0.05)
self.thikness_g(0,500)
time.sleep(0.05)
self.thikness_g(0,600)
time.sleep(0.05)
self.thikness_g(0,850)
time.sleep(0.05)
self.thikness_g(0,1000)
time.sleep(0.05)