self.slider_moove([self.ids.right_3,self.ids.right_3,self.ids.left_3,self.ids.left_4,self.ids.left_3,self.ids.left_4,self.ids.right_3,self.ids.right_4,self.ids.right_4,self.ids.right_3],[-40,-45,37,23,27,30,-31,-24,-37,-45],pause = 0.02)
self.to_init(self.ids.head_4,self.ids.head_1,self.ids.head_5,self.ids.left_2,self.ids.head_2,self.ids.right_2,self.ids.left_3,self.ids.head_3,self.ids.right_3,self.ids.left_4,self.ids.right_4)
self.slider_moove([self.ids.right_3,self.ids.right_3,self.ids.left_3,self.ids.left_4,self.ids.left_3,self.ids.left_4,self.ids.right_3,self.ids.right_4,self.ids.right_4,self.ids.right_3],[-40,-45,37,23,27,30,-31,-24,-37,-45],pause = 0.02)
self.to_init(self.ids.head_4,self.ids.head_1,self.ids.head_5,self.ids.left_2,self.ids.head_2,self.ids.right_2,self.ids.left_3,self.ids.head_3,self.ids.right_3,self.ids.left_4,self.ids.right_4)
self.slider_moove([self.ids.right_3,self.ids.right_3,self.ids.left_3,self.ids.left_4,self.ids.left_3,self.ids.left_4,self.ids.right_3,self.ids.right_4,self.ids.right_4,self.ids.right_3],[-40,-45,37,23,27,30,-31,-24,-37,-45],pause = 0.02)
self.to_init(self.ids.head_4,self.ids.head_1,self.ids.head_5,self.ids.left_2,self.ids.head_2,self.ids.right_2,self.ids.left_3,self.ids.head_3,self.ids.right_3,self.ids.left_4,self.ids.right_4)
self.slider_moove([self.ids.right_3,self.ids.right_3,self.ids.left_3,self.ids.left_4,self.ids.left_3,self.ids.left_4,self.ids.right_3,self.ids.right_4,self.ids.right_4,self.ids.right_3],[-40,-45,37,23,27,30,-31,-24,-37,-45],pause = 0.02)
self.to_init(self.ids.head_4,self.ids.head_1,self.ids.head_5,self.ids.left_2,self.ids.head_2,self.ids.right_2,self.ids.left_3,self.ids.head_3,self.ids.right_3,self.ids.left_4,self.ids.right_4)
self.slider_moove([self.ids.right_3,self.ids.right_3,self.ids.left_3,self.ids.left_4,self.ids.left_3,self.ids.left_4,self.ids.right_3,self.ids.right_4,self.ids.right_4,self.ids.right_3],[-40,-45,37,23,27,30,-31,-24,-37,-45],pause = 0.02)
self.to_init(self.ids.head_4,self.ids.head_1,self.ids.head_5,self.ids.left_2,self.ids.head_2,self.ids.right_2,self.ids.left_3,self.ids.head_3,self.ids.right_3,self.ids.left_4,self.ids.right_4)
